<%- include('../partials/header') %>
<div class ="menu-container">
<main class="list-container">
    <h2><%= title.charAt(0).toUpperCase() + title.slice(1) %> Menu </h2>
    
    <div class="menu-list">
        <% items.forEach(item => { %>
            <div class="list-row">
                <span class="item-name"><%= item.name %></span>
                <span class="dots"></span>
                <span class="menu-item-price"><%= item.price %> kr</span>
            </div>
        <% }); %>
    </div>
    
    <a href="/menu" class="back-btn">Back to Menu</a>
</main>
</div>


<%- include('../partials/footer') %>